.main{
    margin-top: 5%;
}
.mainClick{
    margin-top: 2%;
}
body{
    background-color: #483D8B;
}
.fix{
    border:2px solid #FF6347;
    border-radius: 5px;
    background-color:#FF6347;
    padding: 5px;
}
h1,h4{
    color:#e5e5e5;
}

  
 
  
 
  